name: e2e tests
on:
  pull_request:

jobs:
    e2e-test:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          cert_manager_version: ["v1.17.3", "v1.18.1", "v1.19.1"]
      steps:
        - name: Create k8s Kind Cluster
          uses: helm/kind-action@v1
        - uses: azure/setup-helm@v4.3.1
          name: install helm
        - uses: actions/checkout@v5
          name: checkout
        - name: run e2e tests
          env:
            TEST_ZONE_NAME: ${{ secrets.TEST_ZONE_NAME }}
            IONOS_TOKEN: ${{ secrets.IONOS_TOKEN }}
          run : |
           ./run-e2e-tests.sh --cert-manager-version ${{ matrix.cert_manager_version }}

          
            